:root {
    --color01: #E4E5E2;
    --color02: #5F5D53;
    --color03: #676866;
    --color04: #B89358;
    --color05: #BABAB7;
    --color06: #454542;
    --color07: #000000;
    --color08: #F7E69B;

    --color09: #7F40F5;
    --color10: #B08AF7;
}

header {
    background-color: var(--color10);
}

footer {
    background-color: var(--color10);
    position: fixed;
    width: 100%;
    height: 60px;
    margin: auto;
    bottom: 0;
    padding: 20px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 20%;
    /* height: 100px; */
}

.sideitem {
    margin-top: 20px;
    align-content: start;
}

.sidebar > span {
    align-content: center;
}

.estudos {
    position:fixed;
    top: 105px;
    left: 70%;
}